body {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
  font-weight: 400;
  color: #444;
}

h1,h2,h3,h4,h5,h6 strong {
  font-weight: 600;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.nav-link {
  color: #444;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-link.active {
  font-weight: bold;
  text-decoration: underline;
}


footer a:hover {
  color: #fff !important;
  font-weight: bold;
}

.footer-icon:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

.hero{
  height: 100vh;
  background-image: url('./assets/img/hero-bg.jpg');;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.hero .container{
  z-index: 1;
}

.btn-danger:hover{
  background-color: #bb2d3b;
  transition: 0.3 ease;
}
